[
   {
      "name": "${container_name}",
      "image": "${petclinic_image}",
      "memory": 1024,
      "cpu": 1000,
      "essential": true,
      "portMappings": [
         {
            "containerPort": ${container_port},
            "hostPort": 0,
            "protocol": "tcp"
         }
      ]
   }
]